@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>FilterStudents</title>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
                    $(document).ready(function(){
                        $("#button").click(function() {
                            $.get("/Main/GetLogsWithSeverity", {severity : $("#severity").val()},
                                function(data,status) {
                                    $("#maindiv").html(data);
                            });
                        });
                    });
    </script>


</head>

<body>

    Severity: <input type="text" id="severity" /><br />
    <input id="button" type="button" value="get logs" />
    Logs with severity:
    <div id="maindiv"></div><br />

</body>

</html>