
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update Log</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>


<body>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"> Welcome {{usernameOnSession}} </a>
  <a routerLink="/homepage" routerLinkActive="active">
    <button class="btn btn-outline-secondary my-2 my-sm-0">Homepage</button>
  </a>
  <a routerLink="/deletePage" routerLinkActive="active">
    <button class="btn btn-outline-secondary my-2 my-sm-0">My Log Reports</button>
  </a>
  <a routerLink="/filterPage" routerLinkActive="active">
    <button class="btn btn-outline-secondary my-2 my-sm-0">Filter Log Reports</button>
  </a>
  <a href="/addPage" routerLinkActive="active">
    <button class="btn btn-outline-secondary my-2 my-sm-0">Add Log</button>
  </a>
  <form class="form-inline">
    <button (click)="logOut()" class="btn btn-outline-secondary my-2 my-sm-0" type="submit" name="logout" value="Logout">Logout</button>
  </form>
</nav>

<br>
<br>
<br>

<div class="container-md">
  <div class="row justify-content-center">
    <h1>Update Log</h1>
  </div>
</div>

<br>
<br>


<div class="container-sm">
  <div class="row justify-content-center">
    <form id="add-topic-form" class="form-group">

      <div *ngIf="log">

        <div class="form-group">
          <label for="type">Type</label>
            <input type="text" name="type" class="form-control" id="type" [(ngModel)]="log.type">
        </div>

        <div class="form-group">
          <label for="severity">Severity</label>
            <input type="text" name="severity" class="form-control" id="severity" [(ngModel)]="log.severity">
        </div>

        <div class="form-group">
          <label for="date">Date</label>
            <input type="date" name="date" class="form-control" id="date" [(ngModel)]="log.dateOfLog">
        </div>

        <div class="form-group">
          <label for="message">Message</label>
            <input type="text" name="message" class="form-control" id="message" [(ngModel)]="log.message">
        </div>


          <div class="wrap-button">
            <button (click)="updateLog()" class="btn btn-info" type="submit">Update</button>
          </div>

          <br>

          <div class="wrap-button">
            <button (click)="cancelUpdate()" class="btn btn-info" type="submit">Cancel</button>
          </div>

      </div>

    </form>

  </div>
</div>

</body>
</html>
